@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UserManagement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        <div class="sidebar_list nav-item px-3">
            <div class="leftBox">
                <h6 class="color_white bg_accent sidebar_dropdown has_list  " @onclick="ToggleDropdown">
                    User <span class="white_arrow_drpdwn"></span>
                </h6>
                <div class="hidden_list" style="display: @listDisplay">
                    <h6 class="color_title sidebar_dropdown" @onclick="GoToAllUser">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> All User
                    </h6>
                    <h6 class="color_title sidebar_dropdown" @onclick="GoToAddUser">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Add
                    </h6>
                    <h6 class="color_title sidebar_dropdown" @onclick="GoToRestoreUser">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Restore
                    </h6>
                    <h6 class="color_title sidebar_dropdown" @onclick="GoToDeleteUser">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Delete
                    </h6>
                    <h6 class="color_title sidebar_dropdown" @onclick="GoToUpdateUser">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Update
                    </h6>
                </div>
            </div>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
