@page "/deleteduser"

<title>User</title>

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService

<h3>DeletedUsers</h3>

@if (DeletedUserList == null)
{
    <p>No records found</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Designation</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in DeletedUserList)
            {
                <tr>
                    <td >@user.UserName</td>
                    <td>@user.UserCity</td>
                    <td>@user.UserDesignation</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => RestoreUser(user.id)">Restore</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


