@page "/deleteduser"

<title>User</title>

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService
@inject IJSRuntime JSRuntime



@if (deletedUserList.Count == 0 || deletedUserList == null)
{
    <p>No records found</p>
}
else
{
    <h1 class="colorBlue">Deleted Users List</h1>
    <div class="table_detailsemply">
        <table class="employee_table loan_table" width="100%">
            <thead>
                <tr>
                <tr>
                    <th width="20%" class="bg-primary color_white">Name</th>
                    <th width="20%" class="bg-primary color_white">City</th>
                    <th width="20%" class="bg-primary color_white">Designation</th>
                    <th width="60%" class="bg-primary color_white">Skills</th>
                    <th width="60%" class="bg-primary color_white">Actions</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in deletedUserListUpdated)
                {
                    <tr @onclick="() => RestoreUser(user.id)">
                        <td width="20%" class="color_title">@user.UserName</td>
                        <td width="20%" class="color_title">@user.UserCity</td>
                        <td width="20%" class="color_title">@user.UserDesignation</td>
                        <td width="60%" class="color_title">@empSkillsDictionary[user.id]</td>
                        <td width="60%" class="color_title">
                            <button class="btn btn-warning" @onclick="() => RestoreUser(user.id)">Restore</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


