
@page "/deleteuser"

<title>DeleteUsers</title>

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService




@if (UserList.Count == 0 || UserList == null)
{
    <p>No records found</p>
}
else
{
    <h1 class="colorBlue">Delete Users</h1>
    <div class="table_detailsemply">
        <table class="employee_table loan_table" width="100%">
            <thead>
                <tr>
                    <th width="20%" class="bg-primary color_white">Name</th>
                    <th width="20%" class="bg-primary color_white">City</th>
                    <th width="20%" class="bg-primary color_white">Designation</th>
                    <th width="60%" class="bg-primary color_white">Skills</th>
                    <th width="60%" class="bg-primary color_white">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in UserList)
                {
                    <tr @onclick="() => DeleteUserById(user.UserId)">
                        <td width="20%" class="color_title">@user.UserName</td>
                        <td width="20%" class="color_title">@user.UserCity</td>
                        <td width="20%" class="color_title">@user.UserDesignation</td>
                        <td width="60%" class="color_title">@empSkillsDictionary[user.UserId]</td>
                        <td width="60%" class="color_title">
                            <button class="btn btn-danger" @onclick="() => DeleteUserById(user.UserId)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


