@page "/getuser/{id:int}"

@using UserManagement.Models
@using UserManagement.Data
@inject IJSRuntime JSRuntime
@inject UserService userService
@inject NavigationManager NavigationManager

<h3>Get User</h3>

@if (newUser != null)
{
    <ul style="list-style-type: none;">
        <li><strong>Name:</strong> @newUser.UserName</li>
        <li><strong>Designation:</strong> @newUser.UserDesignation</li>
        <li><strong>City:</strong> @newUser.UserCity</li>
       
    </ul>
    <button class="btn btn-success" @onclick="() => BackToUserList()">Back to list</button>
}
else
{
    <p>User not found.</p>
}