@page "/restorebyid/{userid:int}"

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService
@inject IJSRuntime JSRuntime

<h1 class="colorBlue">
    Restore User
</h1>

@if (userWithSkill != null)
{
    <EditForm Model="@userWithSkill">
        <ul class="row forumBox">
            <li class="col-3">
                <label class="inputLabel">
                    Name
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="userWithSkill.UserName" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-6">

            </li>
            <li class="col-3">
                <label class="inputLabel">
                    City
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="userWithSkill.UserCity" class="form-control" disabled="disabled" />
                </div>
            </li>
            <li class="col-6">

            </li>
            <li class="col-3">
                <label class="inputLabel">
                    Designation
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <div class="dropdowns">
                        <InputText @bind-Value="userWithSkill.UserDesignation" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </li>
            <li class="col-6">

            </li>

            <li class="col-3">
                <label class="inputLabel">
                    skills
                </label>
            </li>
            <li class="col-3">
                <div class="form_inputBox">
                    <InputText @bind-Value="skillname" class="form-control" disabled="disabled" />
                </div>
            </li>



        <li class="col-12 mt_20">
            <div class="form_btns">
                    <button class="common_btn btnBlue" @onclick="() => RestoreUser(userWithSkill.UserId)">Restore</button>

                <button type="button" class="common_btn btnGry" @onclick="HandleCancel">Cancel</button>
            </div>
        </li>
    </ul>
</EditForm>
}
else
{
    <p>User not found.</p>
}
