
@page "/"

<title>User</title>

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService




@if (UsersList.Count == 0 || UsersList == null)
{
    <p><em>No records</em></p>
}
else
{
    <h1 class="colorBlue">User List</h1>
    <div class="table_detailsemply">
        <table class="employee_table loan_table" width="100%">
            <thead>
                <tr>
                    <th width="20%" class="bg-primary color_white">Name</th>
                    <th width="20%" class="bg-primary color_white">City</th>
                    <th width="20%" class="bg-primary color_white">Designation</th>
                    <th width="80%" class="bg-primary color_white">Skills</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var user in UsersList)
                {
                    <tr @onclick="() => GetUser(user.UserId)">
                        <td width="20%" class="color_title">@user.UserName</td>
                        <td width="20%" class="color_title">@user.UserCity</td>
                        <td width="20%" class="color_title">@user.UserDesignation</td>
                        <td width="80%" class="color_title">@empSkillsDictionary[user.UserId]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


