
@page "/updateuser"

<title>Update User</title>

@using UserManagement.Models
@using UserManagement.Data
@inject NavigationManager NavigationManager
@inject UserService userService

<h4 class="popup_title bg_primary">Update User List</h4>


@if (UsersList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table class="employee_table">
            <thead>
                <tr>
                    <th width="20%" class="color_title">Name</th>
                    <th width="20%" class="color_title">City</th>
                    <th width="20%" class="color_title">Designation</th>
                    <th width="60%" class="color_title">Skills</th>
                    <th width="60%" class="color_title">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in UsersList)
                {
                    <tr  @onclick="() => UpdateUser(user.UserId)">
                        <td width="20%" class="color_title">@user.UserName</td>
                        <td width="20%" class="color_title">@user.UserCity</td>
                        <td width="20%" class="color_title">@user.UserDesignation</td>
                        <td width="60%" class="color_title">@empSkillsDictionary[user.UserId]</td>
                        <td width="60%" class="color_title">
                            <button class="btn btn-danger" @onclick="() => UpdateUser(user.UserId)">Update</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


