@page "/updateuser/{id:int}"

@using UserManagement.Models
@using UserManagement.Data
@inject IJSRuntime JSRuntime
@inject UserService userService
@inject NavigationManager NavigationManager
<link href="./css/css/customize-style.css" rel="stylesheet" />
<h1 class="colorBlue">
    Edit User
</h1>
<EditForm Model="@_newUser" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
  
    <ul class="row forumBox">
        <li class="col-3 required">
            <label class="inputLabel">Name</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputText @bind-Value="_newUser.UserName" class="form-control" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() =>_newUser.UserName)"></ValidationMessage>
            </div>
        </li>
        <li class="col-6">

        </li>

        <li class="col-3 required">
            <label class="inputLabel">Designation</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputText @bind-Value="_newUser.UserDesignation" class="form-control" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => _newUser.UserDesignation)"></ValidationMessage>
            </div>
        </li>
        <li class="col-6">

        </li>
        <li class="col-3 required">
            <label class="inputLabel">City</label>
        </li>
        <li class="col-3">
            <div class="form_inputBox">
                <InputText @bind-Value="_newUser.UserCity" class="form-control" />
            </div>
            <div class="erroeText">
                <ValidationMessage For="(() => _newUser.UserCity)"></ValidationMessage>
            </div>
        </li>
        <li class="col-6"></li>
        <li class="col-3">
            <div class="form-group">
                <div class="form_inputBox">
                    <label for="Skills">Skills:</label>
                </div>
                <div class="d-flex">
                    @foreach (var skill in _getskills)
                    {
                        <div class="radio_check d-flex align_center">
                            <input type="checkbox" class="form-check-input" @onclick="() => ToggleSkilll(skill.SkillId)" checked="@(_selectedSkills.Contains(skill.SkillId))" />
                            <div class="pr-2"></div>
                            <div class="pb-3">
                                <label class="inputLabel">
                                    @skill.SkillName
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </li>
        <li class="col-12 mt_20">
            <div class="form_btns">
                <button type="submit" class="common_btn btnBlue">Update</button>
                <button type="button" class="common_btn btnWhite" @onclick="OnCancelClicked">Cancel</button>
            </div>
        </li>
    </ul>
</EditForm>